<mat-card>
  <mat-card-title> Login </mat-card-title>
  <mat-card-content>
    <form >

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter Username">
        </mat-form-field>

       <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>              
            <input type="password" matInput placeholder="Enter Password">
         </mat-form-field>

        <div>
          <button mat-raised-button  color="primary"  routerLink="/home"  >Login</button>
        </div>

    </form>
  </mat-card-content>
</mat-card>
